img {
    width: 200px;
}

body {
    text-align: center;
    font-family: arial;
    background: orange;
    color: white;
    background-image: url("https://media.giphy.com/media/inOMkmTcQfn6E/giphy.gif");
}

