img {
    width: 200px;
}

body {
    text-align: center;
    font-family: arial;
    background: orange;
    color: blue;
    background-image: url("https://media.accounts.nintendo.com/reward/wallpaper/Splatoon2_[A]_Inkling_Squid_[1920x1080].jpg?Expires=1520115095&Key-Pair-Id=APKAJHGKWFAJ2QQDJNQA&Signature=XOLCGp7~iX766onYk4FiOPJibMxwNdJ1dQH9Pe70ntpvM72KwDxNLHCmIQXJUjkfsxHhLDt70fLaPlHEaj4DqJ7Z43t1aEAsTV545klya~2CYimtECwCebQzVkKBqaMHzrWkUOBRxowHEd~0JIkPwy6xc4kZzs04sBa9NjMitIhZBrRt64B3wwnfpq09Fv2x2U7yJi3qQMVhihrVdTBVO1U2LDGIYIxGl1azW7TyKxuOmQXtkUtc35YVm4~yGsy3VHJZhwcmikfRki6buPA1-Eq6NoJqbZSUIvkNkqAJnJLJUrX3gsiCQ7NRJ-cJ6QF0LjR4T6NFEKExb~BHZ1SnBg__");
    background-repeat: no-repeat;
}
